# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/

# ML artifacts
model.pkl
mlruns/
mlflow.db

# Data logs
data/predictions/

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db